.container {
    flex: 1;
    background-color: '#fff';
    text-align: 'center';
    align-items: 'center';
    justify-content: 'center';
}

.radio {
    display: flex;
    align-items: 'left';
    width: 100%;
    word-wrap: break-word;
}